:root {
    font-size: 14px;
}

th.num, td.num {
    text-align: right;
    white-space: nowrap;
}

.anybreak td:not(.num){
    word-break: break-all;
}

a.nsfw:after {
    color: red;
    content: ' (nsfw)';
}

#emote-tip {
    display: none;

    position: absolute;
    left: 10px;
    top: 20px;

    background-color: white;
    border: 1px solid gray;
}

body.emote-tip-shown #emote-tip {
    display: block;
}
