<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7cb5ec">
    <title>BerryStats</title>

    <link rel="shortcut icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highcharts.js" integrity="sha256-xMDeombsoo/Gy2p6UAwTnuelns6zCc8OwQZP0m9DHnU=" crossorigin="anonymous"></script>
    <script src="static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Weekly BerryTube Top 10s</h1>
            <p>Also check out the <a href="https://stats.multihoofdrinking.com/">long-term stats</a> by Trellmor!</p>
        </header>

        <div class="row">
            <div class="col-sm-12">
                <h3>Connected users <small>(ignores lurkers)</small></h3>
                <div id="chart" style="width:100%;height:250px;">
                    <noscript class="text-danger">You need JavaScript to see the chart!</noscript>
                </div>
            </div>
        </div>

        <main class="row">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <h3>Chatters</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num">#</th>
                            <th>Nick</th>
                            <th class="num">Messages</th>
                            <th class="num">Characters</th>
                            <th class="num">Emotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr>
                                <td class="num">{{inc @index}}</td>
                                <td>{{0}}</td>
                                <td class="num">{{num (1.lines)}}</td>
                                <td class="num">{{num (1.chars)}}</td>
                                <td class="num">{{num (1.emotes)}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3>Emotes <small>(hover for preview)</small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num">#</th>
                            <th>Emote</th>
                            <th class="num">Uses</th>
                        </tr>
                    </thead>
                    <tbody id="emotes" class="anybreak">
                        {{#each emotes}}
                            <tr data-emote="{{0}}">
                                <td class="num">{{inc @index}}</td>
                                <td>{{0}}</td>
                                <td class="num">{{num (1)}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3>Drink calls</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num">#</th>
                            <th>Reason</th>
                            <th class="num">Calls</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each drinks}}
                            <tr>
                                <td class="num">{{inc @index}}</td>
                                <td>{{0}}</td>
                                <td class="num">{{num (1)}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-md-6">
                <h3>Links</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num">#</th>
                            <th>URL</th>
                            <th class="num">Links</th>
                        </tr>
                    </thead>
                    <tbody class="anybreak">
                        {{#each links as |lnk|}}
                            <tr>
                                <td class="num">{{inc @index}}</td>
                                <td>{{link lnk.0}}</td>
                                <td class="num">{{num (lnk.1)}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-12 col-md-6">
                <h3>Videos</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="num">#</th>
                            <th>Title</th>
                            <th class="num">Plays</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each videos as |vid|}}
                            <tr>
                                <td class="num">{{inc @index}}</td>
                                <td>{{video vid.0}}</td>
                                <td class="num">{{num (vid.1)}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>

        <img id="emote-tip" />

        <footer class="text-right text-muted">
            <span class="num">{{num lines}}</span> lines of logs parsed
        </footer>
    </div>

    <script id="chart-data" type="application/json">
    [
        {{#each connected as |con|}}{{comma @index}}[{{datetime con.0}},{{con.1}}]{{/each}}
    ]
    </script>
</body>
</html>
